

@font-face {
    font-family: "EB_Garamond";
    src: url("../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");

}

/*----------------------------------------Logo-----*/
.logo{
    height: 90px;
    width: 90px;
}

.logo_user{
    border-radius: 50%;
    height: 170px;
    width: 170px;

}

.logo_user_miniature{
    border-radius: 50%;
    height: 100px;
    width: 100px;

}

/*----------------------------------------Colors-----*/
:root {
    --color-primary: #E0F1FF;
    --color-secondary: #3ca7ff;
    
    --color-white: #FFF;
    --color-black: #000;
    --color-main-1: #C7E5FF;
    --color-main-2: #CBDAFF;
    --color-main-3: #97CFFF;
    --color-main-4: #7AC1FF;
    --color-main-5: #5FB4FF;
    --color-main-6: hsl(240, 50%, 70%);
 
  }

/*----------------------------------------Borders-----*/
.border-all-around{
    border : 1px solid var(--color-black);
}
.border-all-around-radius{
    border-radius: 22px;

    border : 1px solid var(--color-primary);
}
/*----------------------------------------Body-----*/

body,
html {
  margin: 0;
  padding: 0;
  font-family: EB_Garamond, Georgia, serif, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

/*----------------------------------------Alerts-----*/
.alert{
    position: absolute;
    top: 5px;
    right: 15px;
    left: 15px;
    z-index: 100;
  }






/*----------------------------------------Rows/Cols-----*/
.row {
    margin: 15px;
    margin-top: 0;
}
.sub-row{
    margin:0;
}

.sub-row:not(:first-child){
    margin-top: 10px;
}
.col {
    margin: 15px;
}


/*----------------------------------------Scrollable container-----*/
.scrollable-400px {
    height:400px;
    overflow-y: scroll;
  }

/*----------------------------------------Alert Containers-----*/
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

/*----------------------------------------Nav Bar-----*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}


.navbar-light .navbar-nav .nav-link {
    color: var(--color-secondary);
}
.active>.nav-link{
    border-bottom: 1px solid var(--color-primary);
    color : var(--color-black);
}
.navbar .navbar-toggler {
    border: 0;

}
.navbar li {
    text-transform: uppercase;
}

.btn-login{
    border-radius : 22px;
    background-color: var(--color-primary);
    color: #000;
    font-size: 14px;
}

/*----------------------------------------Buttons-----*/
.btn-login{
    border-radius : 22px;
    background-color: var(--color-primary);
    color: #000;
    font-size: 14px;
}

.btn-login:hover{
    background-color: var(--color-primary);
    color: #000;
}

.btn-login:hover a{
    text-decoration: none;
}

.dropdown-item:hover{
    background-color:var(--color-primary);
}

/*----------------------------------------Text Layout-----*/
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.padding-20px-left{
    padding-left : 20px;
}
.padding-5px-left{
    padding-left : 5px;
}
.h1_extra_big{
    font-size: 46px;
}

/*----------------------------------------Footer-----*/
.current-version{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 700;
}

footer{

    bottom: 0;
}

/*----------------------------------------Container Box-----*/
.container-box{
    height: 100vh;
    padding:15px;
    background:#ddd;
    margin:20px auto;
}

.sub-container-box{
    
}

